<ion-header-bar align-title="center" class="bar-positive">
<div class="buttons">
	<a class="button button-clear button-light" href="#/dashboard">
		<i class="icon ion-ios7-arrow-back"></i> Back
	</a>
</div>
<h1 class="title">Recover your password</h1>
</ion-header-bar>

<ion-content class="bg-gray">
	<form role="form" ng-submit="submitForgot()">

<div class="list list-inset bg-gray">
		<label class="item item-input">
			<input type="text" placeholder="Username/Email" ng-model="forgot.usernameMail">
		</label>
		
	</div>

	<div class="list list-inset padding">
		<div class="padding-top">
			<button type="submit" class="button margin button-block button-positive">
				Recover your password
			</button>
		</div>
	</div>
</form>


</ion-content>
