/* Empty. Add your own CSS if you like */

.bar.bar-balanced {
	border-color: #498f24;
	background-color: #3d9970;
	background-image: linear-gradient(0deg, #498f24, #498f24 50%, transparent 50%);
	color: #fff;
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.button.button-balanced{
	border-color: #498f24;
	background-color: #3d9970;
	color: #fff;
}

.bg-gray, body {
	background-color: #eaeaec !important;
}
.bar-balanced .button {
	border-color: transparent;
	background-color: #3d9970;
	color: #fff;
}
.button.button-block, .button.button-full {
	margin-top: 0; 
}

.item-checkbox {
	background-color: transparent;
	border: transparent;
}

.bar.bar-positive {
	border-color: transparent !important; 
	background-color: #3c8dbc;
	background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
	color: #fff;
}

.popover {
	height: auto;
}

.popover .item {
border-color: #ccc;
}

.popover >.scroll-content {
	position: relative;
}


.list.card.m-card {
	background-color: transparent;
	box-shadow: none;
}

.col.m-col {
	padding-bottom: 0;
	padding-top: 0;
}

i.icon.ion-ios7-barcode-outline.m-size {
	font-size: 3.5em;
}

button.button.m-margin.button-assertive {
margin: 0 auto;
display: block !important;
}

.list.card.m-card-color, .list.card.m-card-color > .item{
background-color: transparent;
}

.list.card.m-card-color > .item-checkbox {
	background-color: #fff;
}

