<ion-header-bar align-title="center" class="bar-positive">
    <h1  class="title">Dashboard</h1>

    <div class="buttons">
        <button class="button button-clear button-light" ng-click="openPopover($event)">
            <i class="icon ion-more"></i>
        </button>
    </div>
    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-content>
                <div class="list">
                    <a class="item m-border" ng-click="settings()">
                        Settings
                    </a>
                    <a class="item" ng-click="logout()">
                        Logout
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-header-bar>

<ion-content class="bg-gray">
    <div class="list card">
        <a  class="item item-icon-left">

            TA:
            {{total.assigned |currency}}
        </a>

        <a  class="item item-icon-left">

            TS:
            {{total.sold |currency}}
        </a>

        <a class="item item-icon-left">
            TR:
            {{total.remaining |currency}}
        </a>

    </div>

    <div class="list card m-card">

        <div class="row">
            <div class="col m-col">
                <button ng-click="scanBarcode()" class="button button-block button-positive">
                    <i class="fa fa-usd"></i>  Sell
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="pinTest()" class="button button-block button-energized">
                    <i class="icon ion-ios7-search-strong"></i> Search
                </button>
            </div>
            <div class="col">
                <button class="button button-block button-assertive">
                    <i class="icon ion-android-hand"></i> Pick Up
                </button>
            </div>
        </div>
    </div>
</ion-content>
