<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <a class="button button-clear button-light" ng-click="goDashboard()">
            <i class="icon ion-ios7-arrow-back"></i> Back
        </a>
    </div>
    <h1 class="title">Settings</h1>



</ion-header-bar>

<ion-content class="bg-gray">
    <div class="list card">
        <li class="item item-toggle">
            <i class="icon ion-help-circled"></i> Enable tutorial
            <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="checkbox" ng-click="prueba()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
       </div>
    <div class="list card">

        <a style="color: #444" class="item" ng-click="golockSettings()">
            <i style="font-size: 16px !important;" class="icon ion-locked"></i>
                Password Lock
            <i class="icon" style="float: right"><p>{{pinStatus}}</p>
            </i>
        </a>
    </div>


</ion-content>
