<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <a class="button button-clear button-light" ng-click="goSettings()">
            <i class="icon ion-ios7-arrow-back"></i> Back
        </a>
    </div>
    <h1 class="title">Password Lock</h1>



</ion-header-bar>

<ion-content class="bg-gray">
    <div class="list card">
        <a style="color: #444" class="item" ng-click="noPassword()">
                None
        </a>
        <a style="color: #444" class="item" ng-click="lockPassword()">
                Pin Password
        </a>
    </div>
</ion-content>
