<ion-header-bar align-title="center" class="bar-positive">
<h1 class="title">Login</h1>
</ion-header-bar>

<ion-content class="bg-gray">
<form role="form" ng-submit="submitLogin()">

	<div class="list list-inset bg-gray">
		<label class="item item-input">
			<input type="text" placeholder="Username" ng-model="login.username">
		</label>
		<br>
		<label class="item item-input">
			<input type="password" placeholder="Password" ng-model="login.password">
		</label>
		<br>
		<li class="item item-checkbox">
			<label class="checkbox">
				<input type="checkbox" ng-model="rememberme" ng-click="remember()">
			</label> Remember me
		</li>
	</div>

	<div class="list list-inset padding">
		<div class="padding-top">
			<button type="submit" class="button margin button-block button-positive">
				Sign me in
			</button>
		</div>
		<a class="item" href="#/forgot">Forgot password?</a>

		<a class="item" href="#/register">Register a new membership</a>

	</div>
</form>
</ion-content>
