<ion-content class="bg-gray">
<div class="list card m-card-color">
	<li class="item item-body">
		<h2 style="text-align: center">Press Continue to proceed</h2>
		<br>
		<h1 style="text-align: center"><i class="fa fa-qrcode fa-4x"></i></i></h1>
		<h3 style="text-align: center">You only need to scan the barcode and it will be automatically send to the server, once you are done press the Back Button and thats all!</h3>
		<br>
		<button ng-click="scanBarcodeContinue()" class="button m-margin button-block button-assertive">
			<b>Continue</b>
		</button>
	</li>
	<li class="item item-checkbox">
		<label class="checkbox">
			<input type="checkbox" ng-model="tutorialBox" ng-click="checkBox()">
		</label>
		Show this tutorial again.
	</li>
</div>
<script id="my-popover.html" type="text/ng-template">
</script>
</ion-content>
