<ion-header-bar align-title="center" class="bar-positive">
<h1 class="title">Sign Up</h1>
</ion-header-bar>

<ion-content class="bg-gray">
	<form role="form" ng-submit="registerSubmit()">

<div class="list list-inset bg-gray">
		<label class="item item-input">
			<input type="text" placeholder="Username" ng-model="register.username">
		</label>
		<br>
		<label class="item item-input">
			<input type="password" placeholder="Password" ng-model="register.password">
		</label>
		<br>
		<label class="item item-input">
			<input type="password" placeholder="Confirm Password" ng-model="register.confirm">
		</label>
		<br>
		<label class="item item-input">
			<input type="email" placeholder="Email" ng-model="register.email">
		</label>
	</div>

	<div class="list list-inset padding">
		<div class="padding-top">
			<button type="submit" class="button margin button-block button-positive">
				Sign Up!
			</button>
		</div>
		

		<a class="item" href="#/login">I already have an account</a>

	</div>
</form>


</ion-content>
